extends layout
block content
  div.page-header
    //h1 #{title}
    h1 Philips
      b TV
      | &nbsp; Ambilight Control

  if user
    .container
      div(id='hue_callout').bs-callout.bs-callout-info
        h4 Ambilight Control Panel
        br
        br

  else
    p Login before you use the world control center
    p
      a.btn.btn-primary(href="/login") Login now
